<div class="container obrazci">
  <div class="obrazci-form">
    <div class="table-top">
      <div class="input-group searchInput">
        <label for="search" class="search-label">Najdi</label>
        <input
          type="text"
          class="form-control"
          name="search"
          matInput
          placeholder="Najdi"
          (keyup)="filterTable($event)"
        />
      </div>
      <button
        type="button"
        class="btn btn-primary createButton"
        data-toggle="modal"
        data-target="#staticBackdrop"
        (click)="addObrazec()"
      >
        Ustvari nov obrazec
      </button>
    </div>

    <!-- material table -->
    <table
      mat-table
      [dataSource]="dataSource"
      matSort
      (matSortChange)="announceSortChange($event)"
      class="obrazci-table"
    >
      <!-- Id Column -->
      <ng-container matColumnDef="id">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          sortActionDescription="Razvrsti - Id"
        >
          Id
        </th>
        <td mat-cell *matCellDef="let polje">{{ polje.id }}</td>
      </ng-container>

      <!-- Ime Column -->
      <ng-container matColumnDef="ime">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          sortActionDescription="Razvrsti - Ime"
        >
          Ime
        </th>
        <td mat-cell *matCellDef="let polje">{{ polje.student.ime }}</td>
      </ng-container>

      <!-- Priimek Column -->
      <ng-container matColumnDef="priimek">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          sortActionDescription="Razvrsti - Priimek"
        >
          Priimek študenta
        </th>
        <td mat-cell *matCellDef="let polje">{{ polje.student.priimek }}</td>
      </ng-container>

      <!-- Leto Roj. Column -->
      <ng-container matColumnDef="letoRoj">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          sortActionDescription="Razvrsti - Leto"
        >
          Leto rojstva
        </th>
        <td mat-cell *matCellDef="let polje">
          {{ polje.student.datumRojstva | date: "yyyy" }}
        </td>
      </ng-container>

      <!-- Kraj Column -->
      <ng-container matColumnDef="kraj">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          sortActionDescription="Razvrsti - Kraj"
        >
          Kraj
        </th>
        <td mat-cell *matCellDef="let polje">
          {{ polje.student.naslov.kraj }}
        </td>
      </ng-container>

      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef>Uredi</th>
        <td mat-cell *matCellDef="let polje">
          <button
            class="btn btn-outline-primary m-1"
            (click)="editObrazec(polje)"
            data-toggle="modal"
            data-target="#staticBackdrop"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-pencil-square"
              viewBox="0 0 16 16"
            >
              <path
                d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"
              />
              <path
                fill-rule="evenodd"
                d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"
              />
            </svg>
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef>Zbriši</th>
        <td mat-cell *matCellDef="let polje">
          <button
            class="btn btn-outline-danger m-1"
            (click)="deleteObrazec(polje)"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-trash"
              viewBox="0 0 16 16"
            >
              <path
                d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"
              />
              <path
                fill-rule="evenodd"
                d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"
              />
            </svg>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <!-- Alert -->
    <div class="alert alert-success" role="alert" id="success-alert">
      {{ successAlertMsg }}
    </div>
  </div>
</div>

<!-- Modal -->
<div
  class="modal"
  id="staticBackdrop"
  data-backdrop="static"
  data-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">{{ modalTitle }}</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          (click)="closeModal()"
          id="add-edit-modal-close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-add-edit-obrazec
          [obrazecData]="obrazec"
          *ngIf="activateAddEditObrazecComponent"
        ></app-add-edit-obrazec>
      </div>
    </div>
  </div>
</div>
