#obrazec-fail-alert {
  display: none;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.col {
  padding: 0;
}

.input-group {
  margin-bottom: 5px;
}

.student {
  padding-right: 5px;
}

.naslov {
  padding-left: 5px;
}

.izpit {
  display: flex;
  margin: 5px 0 5px 0;
}

.izpitButtons {
  display: flex;
  margin-bottom: 5px;
}

.add-izpit svg {
  margin-right: 10px;
}
.add-izpit {
  width: 100%;
  align-self: center;
  margin-left: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.remove-izpit svg {
  margin-right: 10px;
}
.remove-izpit-one {
  width: fit-content;
  margin-left: 5px;
  height: 100%;
}
.remove-izpit {
  width: 100%;
  align-self: center;
  margin-right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
